## Data Types in Python 

The following data types can be used in base python:
* **boolean**
* **integer**
* **float**
* **string**
* **list**
* **None**
* complex
* object
* set
* dictionary

We will only focus on the **bolded** ones

 

## 1.  Numérica o cuantitativa (tomar la media tiene sentido)
* 1.1 Discrete
    * Integer (int) #Stored exactly
* 1.2 Continuous
    * Float (float) #Stored similarly to scientific notation. Allows for decimal places but loses precision.

In [1]:
import math

### Integers

In [2]:
type(4)

int

In [3]:
type(0)

int

In [4]:
type(-3)

int

### Try taking the mean

In [5]:
numbers = [2, 3, 4, 5]
print(sum(numbers)/len(numbers))
type(sum(numbers)/len(numbers)) #In Python 3 returns float, but in Python 2 would return int

3.5

float

### Floats

In [6]:
numbers = [2, 3, 4, 5]

print(sum(numbers)/len(numbers))
type(sum(numbers)/len(numbers)) #In Python 3 returns float, but in Python 2 would return int

3.5

float

###  **Floats**

In [7]:
3/5

0.6

In [8]:
6*10**(-1) # 6 x 10 ^(-1) = 0.60

0.6000000000000001

In [9]:
type(3/5)

float

In [3]:
print(math.pi)
type(math.pi)

3.141592653589793

float

In [11]:
type(4.0)

float

In [12]:
# Try taking the mean
numbers = [math.pi, 3/5, 4.1]
type(sum(numbers)/len(numbers))

float

 ## 2. Categorical or Qualitative
 * 2.1 Nominal
     * Boolean (bool)
     * String (str)
     * None (NoneType)
 * 2.2 Ordinal
     * Only defined by how you use the data
     * Often important when creating visuals
     * Lists can hold ordinal information because they have indices

### **Boolean**

In [13]:
# Boolean
type(True)

bool

In [14]:
type(bool('yes'))

bool

In [14]:
# Boolean
x = 6
y = 7
if x < y:
    print("{} es menor que {}".format(x,y))
print('Mensaje predefinido') # default message.

6 es menor que 7
Mensaje predefinido

In [15]:
if x < y:
    print("{} es menor que {}".format(x,y))
else:
    print("{} es mejor que {}".format(x,y))

6 es menor que 7

In [17]:
myList = [True, 6<5, 1==3, None is None]

for element in myList:
    print(element, '\t', type(element))

True 	 <class 'bool'>
False 	 <class 'bool'>
False 	 <class 'bool'>
True 	 <class 'bool'>

In [18]:
print('Mean is :\t', sum(myList)/len(myList))
type(sum(myList)/len(myList))

Mean is :	 0.5

float

### **String**

In [19]:
type("This sentence makes sense")

str

In [20]:
type("Makes sentense this sense")

str

In [21]:
print(math.pi)
type(math.pi)

float

In [23]:
print("math.pi")
type("math.pi")

math.pi

str

In [27]:
str_list = ['dog', 'koala', 'goose']
#sum(strList)/len(strList)
str_list

['dog', 'koala', 'goose']

In [28]:
len(str_list)

3

### **Nonetype**

In [29]:
# None
type(None)

NoneType

In [30]:
#type(none) #Error, menoscula 'n'

In [31]:
# None

x = None
type(x)

NoneType

In [27]:
none_list = [None]*5
#sum(none_list)/len(none_list)
len(none_list)

5

In [28]:
none_list

[None, None, None, None, None]

In [29]:
print(none_list)

[None, None, None, None, None]

### **Lists**

Una lista puede contener muchos tipos y también se puede utilizar para almacenar información ordinal.

In [33]:
# List

my_list = [1, 1.1, "This is a sentence", None]

for i in my_list:
    print(type(i))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'NoneType'>

In [34]:
#sum(my_list)/len(my_list)

In [35]:
len(my_list)

4

In [36]:
 my_list

[1, 1.1, 'This is a sentence', None]

In [39]:
# List

my_list = [1, 2, 3]

for i in my_list:
    print(i,'\t', type(i))
    
my_list

1 	 <class 'int'>
2 	 <class 'int'>
3 	 <class 'int'>

[1, 2, 3]

In [35]:
len(my_list)

3

In [36]:
sum(my_list)/len(my_list) # note that this outputs a float

2.0

In [40]:
my_list = ['third', 'first', 'medium', 'small', 'large']
my_list[0]

'third'

In [41]:
my_list.sort()
my_list

['first', 'large', 'medium', 'small', 'third']

In [42]:
my_list[:2] #from begining to 2(pos 2 not included)

['first', 'large']

In [43]:
my_list[2:] #from pos 2 to end.

['medium', 'small', 'third']

In [44]:
my_list[:] #from begining to end

['first', 'large', 'medium', 'small', 'third']

In [45]:
my_list[-1] #last of the list

'third'

In [46]:
my_list[:-2] #from begining to second last(not included) element.

['first', 'large', 'medium']

In [47]:
my_list[-2:] #from second last (included) to end.

['small', 'third']

There are more datatypes available when using different libraries such as Pandas and Numpy, which we will introduce to you as we use them.