## Python Lambda

Una función lambda puede tomar cualquier número de argumentos, pero solo puede tener una expresión.

`lambda arguments : expression`

In [ ]:
x = lambda a : a + 2
x(5)

In [ ]:
x = lambda a, b, c : a + b + c
print(x(2, 4, 6))

In [ ]:
z = lambda a=0, b=0, c=0 : a + b + c # =0 sets default values

print(z(2))
print(z(2, 4))
print(z(2, 4, 6))

* An `f`-string is a literal string, prefixed with 'f', which contains expressions inside braces. 
* The `title()` method returns a string where the first character in every word is upper case.

In [ ]:
full_name=lambda first,last:f'Full name:{first.title()}{last.title()}' 

full_name('juan', 'carlos')

In [ ]:
import pandas as pd
import numpy as np

desired_width = 320
pd.set_option('display.width', desired_width)
# np.set_printoptions(linewidth=desired_width)
#pd.set_option('display.max_columns', None)
#pd.set_option('display.max_rows', None)


df = pd.DataFrame(['A+', 'A', 'A-', 'B+', 'B', 'B-', 'C+', 'C', 
                   'C-', 'D+', 'D'],
                  index=['Excellent', 'Excellent', 'Excellent', 
                         'Good', 'Good', 
                         'Good', 'ok', 'ok', 'ok', 'poor', 'poor'],
                  columns=['Grades'])

In [ ]:
print(df)

In [ ]:
print(df.dtypes)

In [ ]:
print(df['Grades'].astype('category'))

In [ ]:
###left_aligned_df = pd.set_option(df,"display.colheader_justify", "left")
###print(left_aligned_df)

In [ ]:
my_ordered_categories = pd.CategoricalDtype(
    categories=['D', 'D+', 'C-', 'C', 'C+', 
                'B-', 'B', 'B+', 'A-', 'A', 
                'A+'],
    ordered=True)

grades = df['Grades'].astype(my_ordered_categories)

print(grades)

In [ ]:
%matplotlib inline
%matplotlib inline

df = pd.read_csv('datasets/census.csv')
df

In [ ]:
df1 = df[df['SUMLEV'] == 50]
df1

In [ ]:
df2 = df.set_index('STNAME').groupby(level=0)['CENSUS2010POP'].agg(np.average)
#....groupby(level=0)['CENSUS2010POP'].agg(np.average)
print(df2.head())

In [ ]:
df = pd.read_csv('datasets/cwurData.csv')
print(df[:0])

In [ ]:
df

#### Try to think about how to create a column named `Rank_Level` like this:

   * If the _world_rank_ is between `1 and 100`, then `First Tier Top University`
   * If the _world_rank_  is between `101 and 200`, then `Second Tier Top University`
   * If the _world_rank_  is between `201 and 300`, then `Third Tier Top University`
   * `Else`：`Other Top University`

In [ ]:
def create_category(ranking):
    if (ranking >= 1) & (ranking <= 100):
        return 'First tier top university'
    elif (ranking >= 101) & (ranking <= 200):
        return 'Second tier top university'
    elif (ranking >= 201) & (ranking <= 300):
        return 'Third tier top university'
    return 'Other top university'


df['Rank_Level']=df['world_rank'].apply(lambda x:create_category(x))

# print(df[:0])
df

In [ ]:
a_pivot = df.pivot_table(values='score', 
                         index='country'
                        )
a_pivot.head(10)

In [ ]:
a_pivot = df.pivot_table(values='score', 
                         index='country', 
                         aggfunc=[np.mean]
                        )
a_pivot.head(10)

In [ ]:
a_pivot = df.pivot_table(values='score', 
                         index='country', 
                         columns='Rank_Level', 
                         aggfunc=[np.mean]
                        )
a_pivot.head(10)

In [ ]:
a_pivot = df.pivot_table(values='score', 
                         index=['country', 
                                'national_rank'], 
                         columns='Rank_Level', 
                         aggfunc=[np.mean]
                        )
a_pivot.head(10)

In [ ]:
two_argfunc = df.pivot_table(values='score', 
                             index='country', 
                             columns='Rank_Level',
                             aggfunc=[np.mean, np.max, np.min]
                            )  # 3x4 columns
two_argfunc.head()

In [ ]:
agg_margin = df.pivot_table(values='score', 
                            index='country', 
                            columns='Rank_Level',
                            aggfunc=[np.mean, np.max],
                            margins=True
                           )  # 3x4 columns
agg_margin.head()

In [ ]:
agg_margin.index

In [ ]:
agg_margin.columns

In [ ]:
agg_margin['mean']['First tier top university'].head()

In [ ]:
type(agg_margin['mean']['First tier top university'].head())

In [ ]:
agg_margin['mean']['First tier top university'].idxmax()

In [ ]:
agg_margin['mean']['First tier top university'].idxmin()

In [ ]:
agg_margin.head()

In [ ]:
new_df = agg_margin.stack() 
#stack sends lowermost row to innermost column

new_df

In [ ]:
new_df2 = new_df.unstack()
new_df2

In [ ]:
university_mean_max = new_df.unstack().unstack()
university_mean_max

In [ ]:
university_mean_max.to_csv('Outputs/file_name.csv')