# Pivot Tables

In [ ]:
import numpy as np
import pandas as pd
df = pd.read_csv('datasets/census.csv')
#pd.set_option('display.max_columns',500, 'display.max_rows', 500)
df.head()

In [ ]:
pd.pivot_table(df, 
               index = 'STNAME'
              )

In [ ]:
pd.pivot_table(df, 
               index='STNAME', 
               values='BIRTHS2010'
              ) #default is : aggfunc='mean'

In [ ]:
pd.pivot_table(df, 
               index='STNAME', 
               values='BIRTHS2010', 
               aggfunc='sum'
              )

In [ ]:
pd.pivot_table(df, 
               index='STNAME', 
               values='BIRTHS2010', 
               aggfunc='mean'
              )

In [ ]:
pd.pivot_table(df, 
               index='STNAME', 
               values='BIRTHS2010', 
               aggfunc='median'
              )

In [ ]:
pd.pivot_table(df, 
               index='STNAME', 
               values='BIRTHS2010', 
               columns='COUNTY'
              )

In [ ]:
pd.pivot_table(df, 
               index='STNAME', 
               values='BIRTHS2010', 
               columns='COUNTY', 
               margins=True
              ) #margins gives the 'ALL' at the end and botom

In [ ]:
df = pd.read_csv('datasets/airline_data.csv')
df.head(500)

In [ ]:
pd.pivot_table(df, 
               index=['Year', 'Quarter'], 
               values='DepDelay', 
               columns='DepartureDelayGroups', 
               aggfunc= 'sum',
               margins=True
              ) #margins gives the 'ALL' at the end and botom

In [ ]:
pd.pivot_table(df, 
               index=['Year', 'Quarter'], 
               values='AirTime', 
               aggfunc='sum', 
               margins=True
              ) #margins gives the 'ALL' at the end and botom

In [ ]:
data_file = 'datasets/sample_pivot.csv'
data = pd.read_csv(data_file)
data.head()

In [ ]:
pd.pivot_table(data, 
               index='Region'
              )

In [ ]:
average_sales = pd.pivot_table(data, 
                               index='Region', 
                               values='Sales'
                              )
average_sales

In [ ]:
total_sales_pivot = pd.pivot_table(data, 
                                   index='Region',
                                   values='Sales', 
                                   aggfunc='sum'
                                  )
total_sales_pivot

In [ ]:
sales_pivot = pd.pivot_table(data, 
                             index='Region', 
                             values='Sales', 
                             aggfunc=['sum', 'mean','median']
                            )
sales_pivot

In [ ]:
pd.pivot_table(data, 
               index='Region', 
               values='Units', 
               columns='Type'
              )

In [ ]:
pd.pivot_table(data, 
               index='Region', 
               values='Units', 
               columns='Type', 
               fill_value=0
              )

In [ ]:
pd.pivot_table(data, 
               index='Region', 
               values='Sales', 
               columns='Type', 
               aggfunc='sum', 
               margins='sum', 
               margins_name='Total'
              )